# Local Analysis Part 1: Set Up

Frequency of specific tokens and its rhymes within a 20-word surrounding chunk (occurrences of specific word and occurrences of rhymes)

### Load packages and files

In [81]:
# import packages
import os
from collections import Counter
import pandas as pd

# import necessary previous notebooks
from IPython.utils.io import capture_output

with capture_output():
    %run 1_Set_Up.ipynb
    %run functions.ipynb

## Dr. Seuss Localized Dataframes

In [82]:
seuss_dataframes = []

for x in range(0, len(seuss_files)):
    story_localized = make_localized_rhyme(seuss_files[x], seuss_corpus[x], 10)
    story_dataframe = make_localized_dataframe(story_localized)
    seuss_dataframes.append(story_dataframe)

for df in seuss_dataframes:
    print() # printing an extra line to make it more visibly nice
    display(df)

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,a-b-c.txt,big,"a, little, a, what, begins, with, a, aunt, ann...",0,0,0
1,a-b-c.txt,a,"big, little, a, what, begins, with, a, aunt, a...",2,0,0
2,a-b-c.txt,little,"big, a, a, what, begins, with, a, aunt, annies...",0,0,0
3,a-b-c.txt,a,"big, a, little, what, begins, with, a, aunt, a...",2,0,0
4,a-b-c.txt,what,"big, a, little, a, begins, with, a, aunt, anni...",0,0,0
...,...,...,...,...,...,...
424,a-b-c.txt,v,"l, m, n, o, p, q, r, s, t, u, w, x, y, z",0,3,3
425,a-b-c.txt,w,"m, n, o, p, q, r, s, t, u, v, x, y, z",0,0,0
426,a-b-c.txt,x,"n, o, p, q, r, s, t, u, v, w, y, z",0,0,0
427,a-b-c.txt,y,"o, p, q, r, s, t, u, v, w, x, z",0,0,0
428,a-b-c.txt,z,"p, q, r, s, t, u, v, w, x, y",0,3,3

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,cat-in-the-hat-comes-back.txt,this,"was, no, time, for, play, this, was, no, time,...",1,0,0
1,cat-in-the-hat-comes-back.txt,was,"this, no, time, for, play, this, was, no, time...",1,0,0
2,cat-in-the-hat-comes-back.txt,no,"this, was, time, for, play, this, was, no, tim...",1,0,0
3,cat-in-the-hat-comes-back.txt,time,"this, was, no, for, play, this, was, no, time,...",1,0,0
4,cat-in-the-hat-comes-back.txt,for,"this, was, no, time, play, this, was, no, time...",1,0,0
...,...,...,...,...,...,...
1650,cat-in-the-hat-comes-back.txt,w,"t, and, cat, u, and, cat, v, and, little, cats...",0,0,0
1651,cat-in-the-hat-comes-back.txt,x,"and, cat, u, and, cat, v, and, little, cats, w...",0,0,0
1652,cat-in-the-hat-comes-back.txt,y,"cat, u, and, cat, v, and, little, cats, w, x, ...",0,0,0
1653,cat-in-the-hat-comes-back.txt,and,"u, and, cat, v, and, little, cats, w, x, y, z",2,0,0
1654,cat-in-the-hat-comes-back.txt,z,"and, cat, v, and, little, cats, w, x, y, and",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,fox-in-socks.txt,knox,"in, box, fox, in, socks, knox, on, fox, in, socks",1,5,3
1,fox-in-socks.txt,in,"knox, box, fox, in, socks, knox, on, fox, in, ...",3,0,0
2,fox-in-socks.txt,box,"knox, in, fox, in, socks, knox, on, fox, in, s...",1,6,3
3,fox-in-socks.txt,fox,"knox, in, box, in, socks, knox, on, fox, in, s...",1,7,3
4,fox-in-socks.txt,in,"knox, in, box, fox, socks, knox, on, fox, in, ...",3,0,0
...,...,...,...,...,...,...
830,fox-in-socks.txt,a,"in, socks, our, game, is, done, sir, thank, yo...",0,0,0
831,fox-in-socks.txt,lot,"socks, our, game, is, done, sir, thank, you, f...",0,0,0
832,fox-in-socks.txt,of,"our, game, is, done, sir, thank, you, for, a, ...",0,0,0
833,fox-in-socks.txt,fun,"game, is, done, sir, thank, you, for, a, lot, ...",0,1,1
834,fox-in-socks.txt,sir,"is, done, sir, thank, you, for, a, lot, of, fun",1,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,green-eggs-and-ham.txt,sam,"i, am, that, samiam, that, samiam, i, do, not,...",0,1,1
1,green-eggs-and-ham.txt,i,"sam, am, that, samiam, that, samiam, i, do, no...",1,0,0
2,green-eggs-and-ham.txt,am,"sam, i, that, samiam, that, samiam, i, do, not...",0,1,1
3,green-eggs-and-ham.txt,that,"sam, i, am, samiam, that, samiam, i, do, not, ...",2,0,0
4,green-eggs-and-ham.txt,samiam,"sam, i, am, that, that, samiam, i, do, not, li...",2,0,0
...,...,...,...,...,...,...
772,green-eggs-and-ham.txt,thank,"them, anywhere, i, do, so, like, green, eggs, ...",1,0,0
773,green-eggs-and-ham.txt,you,"anywhere, i, do, so, like, green, eggs, and, h...",1,1,1
774,green-eggs-and-ham.txt,thank,"i, do, so, like, green, eggs, and, ham, thank,...",1,0,0
775,green-eggs-and-ham.txt,you,"do, so, like, green, eggs, and, ham, thank, yo...",1,1,1
776,green-eggs-and-ham.txt,samiam,"so, like, green, eggs, and, ham, thank, you, t...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,happy-birthday-to-you.txt,if,"we, didnt, have, birthdays, you, wouldnt, be, ...",1,0,0
1,happy-birthday-to-you.txt,we,"if, didnt, have, birthdays, you, wouldnt, be, ...",0,1,1
2,happy-birthday-to-you.txt,didnt,"if, we, have, birthdays, you, wouldnt, be, you...",0,0,0
3,happy-birthday-to-you.txt,have,"if, we, didnt, birthdays, you, wouldnt, be, yo...",0,0,0
4,happy-birthday-to-you.txt,birthdays,"if, we, didnt, have, you, wouldnt, be, you, if...",0,0,0
...,...,...,...,...,...,...
161,happy-birthday-to-you.txt,myself,"thats, a, great, thing, to, be, if, i, say, so...",0,0,0
162,happy-birthday-to-you.txt,happy,"a, great, thing, to, be, if, i, say, so, mysel...",0,0,0
163,happy-birthday-to-you.txt,birthday,"great, thing, to, be, if, i, say, so, myself, ...",0,0,0
164,happy-birthday-to-you.txt,to,"thing, to, be, if, i, say, so, myself, happy, ...",1,0,0
165,happy-birthday-to-you.txt,me,"to, be, if, i, say, so, myself, happy, birthda...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,hop-on-pop.txt,up,"pup, pup, is, up, cup, pup, pup, in, cup, pup",1,7,2
1,hop-on-pop.txt,pup,"up, pup, is, up, cup, pup, pup, in, cup, pup, cup",4,5,2
2,hop-on-pop.txt,pup,"up, pup, is, up, cup, pup, pup, in, cup, pup, ...",4,6,2
3,hop-on-pop.txt,is,"up, pup, pup, up, cup, pup, pup, in, cup, pup,...",0,0,0
4,hop-on-pop.txt,up,"up, pup, pup, is, cup, pup, pup, in, cup, pup,...",1,10,2
...,...,...,...,...,...,...
384,hop-on-pop.txt,me,"say, what, does, this, say, seehemewepatpup, p...",0,0,0
385,hop-on-pop.txt,tomorrow,"what, does, this, say, seehemewepatpup, pop, h...",0,0,0
386,hop-on-pop.txt,but,"does, this, say, seehemewepatpup, pop, hethree...",0,0,0
387,hop-on-pop.txt,not,"this, say, seehemewepatpup, pop, hethreetreebe...",0,0,0
388,hop-on-pop.txt,today,"say, seehemewepatpup, pop, hethreetreebee, top...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,horton-hears-a-who.txt,ï»¿on,"the, 15th, of, may, in, the, jungle, of, nool, in",0,0,0
1,horton-hears-a-who.txt,the,"ï»¿on, 15th, of, may, in, the, jungle, of, nool,...",2,0,0
2,horton-hears-a-who.txt,15th,"ï»¿on, the, of, may, in, the, jungle, of, nool, ...",0,0,0
3,horton-hears-a-who.txt,of,"ï»¿on, the, 15th, may, in, the, jungle, of, nool...",2,0,0
4,horton-hears-a-who.txt,may,"ï»¿on, the, 15th, of, in, the, jungle, of, nool,...",0,0,0
...,...,...,...,...,...,...
2001,horton-hears-a-who.txt,them,"summer, from, rain, when, its, fallish, im, go...",0,0,0
2002,horton-hears-a-who.txt,no,"from, rain, when, its, fallish, im, going, to,...",0,0,0
2003,horton-hears-a-who.txt,matter,"rain, when, its, fallish, im, going, to, prote...",0,0,0
2004,horton-hears-a-who.txt,how,"when, its, fallish, im, going, to, protect, th...",0,0,0
2005,horton-hears-a-who.txt,smallish,"its, fallish, im, going, to, protect, them, no...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,how-the-grinch-stole-christmas.txt,every,"who, down, in, whoville, liked, christmas, a, ...",0,0,0
1,how-the-grinch-stole-christmas.txt,who,"every, down, in, whoville, liked, christmas, a...",0,0,0
2,how-the-grinch-stole-christmas.txt,down,"every, who, in, whoville, liked, christmas, a,...",0,0,0
3,how-the-grinch-stole-christmas.txt,in,"every, who, down, whoville, liked, christmas, ...",0,0,0
4,how-the-grinch-stole-christmas.txt,whoville,"every, who, down, in, liked, christmas, a, lot...",0,0,0
...,...,...,...,...,...,...
1344,how-the-grinch-stole-christmas.txt,grinch,"the, food, for, the, feast, and, he, he, himse...",0,0,0
1345,how-the-grinch-stole-christmas.txt,carved,"food, for, the, feast, and, he, he, himself, t...",0,0,0
1346,how-the-grinch-stole-christmas.txt,the,"for, the, feast, and, he, he, himself, the, gr...",2,0,0
1347,how-the-grinch-stole-christmas.txt,roast,"the, feast, and, he, he, himself, the, grinch,...",0,0,0
1348,how-the-grinch-stole-christmas.txt,beast,"feast, and, he, he, himself, the, grinch, carv...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,i-can-read-with-my-eyes-shut.txt,i,"can, read, in, red, i, can, read, in, blue, i",2,0,0
1,i-can-read-with-my-eyes-shut.txt,can,"i, read, in, red, i, can, read, in, blue, i, can",2,0,0
2,i-can-read-with-my-eyes-shut.txt,read,"i, can, in, red, i, can, read, in, blue, i, ca...",2,1,1
3,i-can-read-with-my-eyes-shut.txt,in,"i, can, read, red, i, can, read, in, blue, i, ...",2,0,0
4,i-can-read-with-my-eyes-shut.txt,red,"i, can, read, in, i, can, read, in, blue, i, c...",0,3,1
...,...,...,...,...,...,...
383,i-can-read-with-my-eyes-shut.txt,at,"you, to, keep, your, eyes, wide, keep, them, w...",0,0,0
384,i-can-read-with-my-eyes-shut.txt,least,"to, keep, your, eyes, wide, keep, them, wide, ...",0,0,0
385,i-can-read-with-my-eyes-shut.txt,on,"keep, your, eyes, wide, keep, them, wide, open...",0,0,0
386,i-can-read-with-my-eyes-shut.txt,one,"your, eyes, wide, keep, them, wide, open, at, ...",0,0,0
387,i-can-read-with-my-eyes-shut.txt,side,"eyes, wide, keep, them, wide, open, at, least,...",0,2,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,if-i-ran-the-zoo.txt,ï»¿its,"a, pretty, good, zoo, said, young, gerald, mcg...",0,0,0
1,if-i-ran-the-zoo.txt,a,"ï»¿its, pretty, good, zoo, said, young, gerald, ...",0,0,0
2,if-i-ran-the-zoo.txt,pretty,"ï»¿its, a, good, zoo, said, young, gerald, mcgre...",0,0,0
3,if-i-ran-the-zoo.txt,good,"ï»¿its, a, pretty, zoo, said, young, gerald, mcg...",0,0,0
4,if-i-ran-the-zoo.txt,zoo,"ï»¿its, a, pretty, good, said, young, gerald, mc...",0,2,2
...,...,...,...,...,...,...
718,if-i-ran-the-zoo.txt,young,"back, home, to, my, park, the, whole, world, w...",0,0,0
719,if-i-ran-the-zoo.txt,mcgrews,"home, to, my, park, the, whole, world, will, s...",0,0,0
720,if-i-ran-the-zoo.txt,made,"to, my, park, the, whole, world, will, say, yo...",0,0,0
721,if-i-ran-the-zoo.txt,his,"my, park, the, whole, world, will, say, young,...",0,0,0
722,if-i-ran-the-zoo.txt,mark,"park, the, whole, world, will, say, young, mcg...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,in-a-people-house.txt,come,"inside, mr, bird, said, the, mouse, ill, show,...",0,0,0
1,in-a-people-house.txt,inside,"come, mr, bird, said, the, mouse, ill, show, y...",0,0,0
2,in-a-people-house.txt,mr,"come, inside, bird, said, the, mouse, ill, sho...",0,0,0
3,in-a-people-house.txt,bird,"come, inside, mr, said, the, mouse, ill, show,...",0,0,0
4,in-a-people-house.txt,said,"come, inside, mr, bird, the, mouse, ill, show,...",0,0,0
...,...,...,...,...,...,...
185,in-a-people-house.txt,is,"bird, you, know, said, the, mouse, you, know, ...",0,0,0
186,in-a-people-house.txt,in,"you, know, said, the, mouse, you, know, what, ...",0,0,0
187,in-a-people-house.txt,a,"know, said, the, mouse, you, know, what, there...",0,0,0
188,in-a-people-house.txt,people,"said, the, mouse, you, know, what, there, is, ...",0,0,0
189,in-a-people-house.txt,house,"the, mouse, you, know, what, there, is, in, a,...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,marvin-k-mooney-will-you-please-go-now.txt,the,"time, has, come, the, time, has, come, the, ti...",2,0,0
1,marvin-k-mooney-will-you-please-go-now.txt,time,"the, has, come, the, time, has, come, the, tim...",2,0,0
2,marvin-k-mooney-will-you-please-go-now.txt,has,"the, time, come, the, time, has, come, the, ti...",1,0,0
3,marvin-k-mooney-will-you-please-go-now.txt,come,"the, time, has, the, time, has, come, the, tim...",1,0,0
4,marvin-k-mooney-will-you-please-go-now.txt,the,"the, time, has, come, time, has, come, the, ti...",2,0,0
...,...,...,...,...,...,...
244,marvin-k-mooney-will-you-please-go-now.txt,had,"now, i, said, go, and, go, i, meant, the, time...",0,0,0
245,marvin-k-mooney-will-you-please-go-now.txt,come,"i, said, go, and, go, i, meant, the, time, had...",0,0,0
246,marvin-k-mooney-will-you-please-go-now.txt,so,"said, go, and, go, i, meant, the, time, had, c...",0,2,1
247,marvin-k-mooney-will-you-please-go-now.txt,marvin,"go, and, go, i, meant, the, time, had, come, s...",0,0,0
248,marvin-k-mooney-will-you-please-go-now.txt,went,"and, go, i, meant, the, time, had, come, so, m...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,mr-brown-can-moo-can-you.txt,oh,"the, wonderful, things, mr, brown, can, do, he...",0,1,1
1,mr-brown-can-moo-can-you.txt,the,"oh, wonderful, things, mr, brown, can, do, he,...",0,0,0
2,mr-brown-can-moo-can-you.txt,wonderful,"oh, the, things, mr, brown, can, do, he, can, ...",0,0,0
3,mr-brown-can-moo-can-you.txt,things,"oh, the, wonderful, mr, brown, can, do, he, ca...",0,0,0
4,mr-brown-can-moo-can-you.txt,mr,"oh, the, wonderful, things, brown, can, do, he...",0,0,0
...,...,...,...,...,...,...
411,mr-brown-can-moo-can-you.txt,do,"whisper, and, a, fish, kiss, too, pip, mr, bro...",0,2,2
412,mr-brown-can-moo-can-you.txt,it,"and, a, fish, kiss, too, pip, mr, brown, can, ...",0,0,0
413,mr-brown-can-moo-can-you.txt,how,"a, fish, kiss, too, pip, mr, brown, can, do, i...",0,0,0
414,mr-brown-can-moo-can-you.txt,about,"fish, kiss, too, pip, mr, brown, can, do, it, ...",0,0,0
415,mr-brown-can-moo-can-you.txt,you,"kiss, too, pip, mr, brown, can, do, it, how, a...",0,2,2

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,oh-the-places-youll-go.txt,congratulations,"today, is, your, day, youre, off, to, great, p...",0,0,0
1,oh-the-places-youll-go.txt,today,"congratulations, is, your, day, youre, off, to...",0,1,1
2,oh-the-places-youll-go.txt,is,"congratulations, today, your, day, youre, off,...",0,0,0
3,oh-the-places-youll-go.txt,your,"congratulations, today, is, day, youre, off, t...",0,0,0
4,oh-the-places-youll-go.txt,day,"congratulations, today, is, your, youre, off, ...",0,2,2
...,...,...,...,...,...,...
922,oh-the-places-youll-go.txt,waiting,"the, great, places, today, is, your, day, your...",0,0,0
923,oh-the-places-youll-go.txt,soget,"great, places, today, is, your, day, your, mou...",0,0,0
924,oh-the-places-youll-go.txt,on,"places, today, is, your, day, your, mountain, ...",0,0,0
925,oh-the-places-youll-go.txt,your,"today, is, your, day, your, mountain, is, wait...",2,0,0
926,oh-the-places-youll-go.txt,way,"is, your, day, your, mountain, is, waiting, so...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,one-fish-two-fish-red-fish-blue-fish.txt,one,"fish, two, fish, red, fish, blue, fish, black,...",0,0,0
1,one-fish-two-fish-red-fish-blue-fish.txt,fish,"one, two, fish, red, fish, blue, fish, black, ...",5,0,0
2,one-fish-two-fish-red-fish-blue-fish.txt,two,"one, fish, fish, red, fish, blue, fish, black,...",0,2,1
3,one-fish-two-fish-red-fish-blue-fish.txt,fish,"one, fish, two, red, fish, blue, fish, black, ...",6,0,0
4,one-fish-two-fish-red-fish-blue-fish.txt,red,"one, fish, two, fish, fish, blue, fish, black,...",0,0,0
...,...,...,...,...,...,...
1287,one-fish-two-fish-red-fish-blue-fish.txt,there,"fun, tomorrow, is, another, one, every, day, f...",0,0,0
1288,one-fish-two-fish-red-fish-blue-fish.txt,funny,"tomorrow, is, another, one, every, day, from, ...",0,0,0
1289,one-fish-two-fish-red-fish-blue-fish.txt,things,"is, another, one, every, day, from, here, to, ...",0,0,0
1290,one-fish-two-fish-red-fish-blue-fish.txt,are,"another, one, every, day, from, here, to, ther...",0,0,0
1291,one-fish-two-fish-red-fish-blue-fish.txt,everywhere,"one, every, day, from, here, to, there, funny,...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,ten-apples-up-on-top.txt,one,"apple, up, on, top, two, apples, up, on, top, ...",0,0,0
1,ten-apples-up-on-top.txt,apple,"one, up, on, top, two, apples, up, on, top, lo...",0,0,0
2,ten-apples-up-on-top.txt,up,"one, apple, on, top, two, apples, up, on, top,...",1,0,0
3,ten-apples-up-on-top.txt,on,"one, apple, up, top, two, apples, up, on, top,...",1,0,0
4,ten-apples-up-on-top.txt,top,"one, apple, up, on, two, apples, up, on, top, ...",1,0,0
...,...,...,...,...,...,...
162,ten-apples-up-on-top.txt,not,"i, can, do, nine, and, hop, and, drink, you, c...",0,0,0
163,ten-apples-up-on-top.txt,do,"can, do, nine, and, hop, and, drink, you, can,...",1,1,1
164,ten-apples-up-on-top.txt,this,"do, nine, and, hop, and, drink, you, can, not,...",0,0,0
165,ten-apples-up-on-top.txt,i,"nine, and, hop, and, drink, you, can, not, do,...",0,0,0
166,ten-apples-up-on-top.txt,think,"and, hop, and, drink, you, can, not, do, this, i",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-butter-battle-book.txt,on,"the, last, day, of, summer, ten, hours, before...",0,0,0
1,the-butter-battle-book.txt,the,"on, last, day, of, summer, ten, hours, before,...",0,0,0
2,the-butter-battle-book.txt,last,"on, the, day, of, summer, ten, hours, before, ...",0,0,0
3,the-butter-battle-book.txt,day,"on, the, last, of, summer, ten, hours, before,...",0,0,0
4,the-butter-battle-book.txt,of,"on, the, last, day, summer, ten, hours, before...",0,0,0
...,...,...,...,...,...,...
1389,the-butter-battle-book.txt,well,"it, will, you, or, will, he, be, patient, said...",0,0,0
1390,the-butter-battle-book.txt,see,"will, you, or, will, he, be, patient, said, gr...",1,3,3
1391,the-butter-battle-book.txt,we,"you, or, will, he, be, patient, said, grandpa,...",0,4,3
1392,the-butter-battle-book.txt,will,"or, will, he, be, patient, said, grandpa, well...",1,0,0
1393,the-butter-battle-book.txt,see,"will, he, be, patient, said, grandpa, well, se...",1,3,3

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-cat-in-a-hat.txt,the,"sun, did, not, shine, it, was, too, wet, to, play",0,0,0
1,the-cat-in-a-hat.txt,sun,"the, did, not, shine, it, was, too, wet, to, p...",0,0,0
2,the-cat-in-a-hat.txt,did,"the, sun, not, shine, it, was, too, wet, to, p...",0,0,0
3,the-cat-in-a-hat.txt,not,"the, sun, did, shine, it, was, too, wet, to, p...",0,0,0
4,the-cat-in-a-hat.txt,shine,"the, sun, did, not, it, was, too, wet, to, pla...",0,0,0
...,...,...,...,...,...,...
1616,the-cat-in-a-hat.txt,if,"now, what, should, we, do, well, what, would, ...",0,0,0
1617,the-cat-in-a-hat.txt,your,"what, should, we, do, well, what, would, you, ...",0,0,0
1618,the-cat-in-a-hat.txt,mother,"should, we, do, well, what, would, you, do, if...",0,0,0
1619,the-cat-in-a-hat.txt,asked,"we, do, well, what, would, you, do, if, your, ...",0,0,0
1620,the-cat-in-a-hat.txt,you,"do, well, what, would, you, do, if, your, moth...",1,2,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-foot-book.txt,left,"foot, left, foot, right, foot, right, feet, in...",1,0,0
1,the-foot-book.txt,foot,"left, left, foot, right, foot, right, feet, in...",2,0,0
2,the-foot-book.txt,left,"left, foot, foot, right, foot, right, feet, in...",1,0,0
3,the-foot-book.txt,foot,"left, foot, left, right, foot, right, feet, in...",2,0,0
4,the-foot-book.txt,right,"left, foot, left, foot, foot, right, feet, in,...",1,1,1
...,...,...,...,...,...,...
125,the-foot-book.txt,how,"more, feet, left, foot, right, foot, feet, fee...",0,0,0
126,the-foot-book.txt,many,"feet, left, foot, right, foot, feet, feet, fee...",0,0,0
127,the-foot-book.txt,feet,"left, foot, right, foot, feet, feet, feet, oh,...",3,1,1
128,the-foot-book.txt,you,"foot, right, foot, feet, feet, feet, oh, how, ...",0,0,0
129,the-foot-book.txt,meet,"right, foot, feet, feet, feet, oh, how, many, ...",0,4,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-lorax.txt,at,"the, far, end, of, town, where, the, gricklegr...",0,0,0
1,the-lorax.txt,the,"at, far, end, of, town, where, the, gricklegra...",2,0,0
2,the-lorax.txt,far,"at, the, end, of, town, where, the, gricklegra...",0,0,0
3,the-lorax.txt,end,"at, the, far, of, town, where, the, gricklegra...",0,0,0
4,the-lorax.txt,of,"at, the, far, end, town, where, the, gricklegr...",0,0,0
...,...,...,...,...,...,...
1838,the-lorax.txt,his,"from, axes, that, hack, then, the, lorax, and,...",0,0,0
1839,the-lorax.txt,friends,"axes, that, hack, then, the, lorax, and, all, ...",0,0,0
1840,the-lorax.txt,may,"that, hack, then, the, lorax, and, all, of, hi...",0,0,0
1841,the-lorax.txt,come,"hack, then, the, lorax, and, all, of, his, fri...",0,0,0
1842,the-lorax.txt,back,"then, the, lorax, and, all, of, his, friends, ...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-sneetches.txt,now,"the, starbelly, sneetches, had, bellies, with,...",0,0,0
1,the-sneetches.txt,the,"now, starbelly, sneetches, had, bellies, with,...",1,0,0
2,the-sneetches.txt,starbelly,"now, the, sneetches, had, bellies, with, stars...",0,0,0
3,the-sneetches.txt,sneetches,"now, the, starbelly, had, bellies, with, stars...",0,0,0
4,the-sneetches.txt,had,"now, the, starbelly, sneetches, bellies, with,...",0,0,0
...,...,...,...,...,...,...
821,the-sneetches.txt,one,"all, the, sneetches, forgot, about, stars, and...",0,0,0
822,the-sneetches.txt,or,"the, sneetches, forgot, about, stars, and, whe...",0,0,0
823,the-sneetches.txt,not,"sneetches, forgot, about, stars, and, whether,...",0,1,1
824,the-sneetches.txt,upon,"forgot, about, stars, and, whether, they, had,...",0,0,0
825,the-sneetches.txt,thars,"about, stars, and, whether, they, had, one, or...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,thiswick-the-big-hearted-moose.txt,up,"at, the, lake, winna, bango, the, far, norther...",0,0,0
1,thiswick-the-big-hearted-moose.txt,at,"up, the, lake, winna, bango, the, far, norther...",0,0,0
2,thiswick-the-big-hearted-moose.txt,the,"up, at, lake, winna, bango, the, far, northern...",1,0,0
3,thiswick-the-big-hearted-moose.txt,lake,"up, at, the, winna, bango, the, far, northern,...",0,0,0
4,thiswick-the-big-hearted-moose.txt,winna,"up, at, the, lake, bango, the, far, northern, ...",0,0,0
...,...,...,...,...,...,...
1332,thiswick-the-big-hearted-moose.txt,stuffed,"they, would, be, his, guests, are, still, on, ...",0,0,0
1333,thiswick-the-big-hearted-moose.txt,as,"would, be, his, guests, are, still, on, them, ...",0,0,0
1334,thiswick-the-big-hearted-moose.txt,they,"be, his, guests, are, still, on, them, all, st...",0,0,0
1335,thiswick-the-big-hearted-moose.txt,should,"his, guests, are, still, on, them, all, stuffe...",0,0,0
1336,thiswick-the-big-hearted-moose.txt,be,"guests, are, still, on, them, all, stuffed, as...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,wacky-wednesday.txt,it,"all, began, with, that, shoe, on, the, wall, a...",0,0,0
1,wacky-wednesday.txt,all,"it, began, with, that, shoe, on, the, wall, a,...",0,1,1
2,wacky-wednesday.txt,began,"it, all, with, that, shoe, on, the, wall, a, s...",0,0,0
3,wacky-wednesday.txt,with,"it, all, began, that, shoe, on, the, wall, a, ...",0,0,0
4,wacky-wednesday.txt,that,"it, all, began, with, shoe, on, the, wall, a, ...",0,0,0
...,...,...,...,...,...,...
300,wacky-wednesday.txt,that,"i, counted, them, all, and, i, even, got, rid,...",0,0,0
301,wacky-wednesday.txt,shoe,"counted, them, all, and, i, even, got, rid, of...",0,0,0
302,wacky-wednesday.txt,on,"them, all, and, i, even, got, rid, of, that, s...",0,0,0
303,wacky-wednesday.txt,the,"all, and, i, even, got, rid, of, that, shoe, o...",0,0,0
304,wacky-wednesday.txt,wall,"and, i, even, got, rid, of, that, shoe, on, the",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,wocket-in-my-pocket.txt,did,"you, ever, have, the, feeling, theres, a, wask...",0,0,0
1,wocket-in-my-pocket.txt,you,"did, ever, have, the, feeling, theres, a, wask...",0,0,0
2,wocket-in-my-pocket.txt,ever,"did, you, have, the, feeling, theres, a, waske...",0,0,0
3,wocket-in-my-pocket.txt,have,"did, you, ever, the, feeling, theres, a, waske...",0,0,0
4,wocket-in-my-pocket.txt,the,"did, you, ever, have, feeling, theres, a, wask...",0,0,0
...,...,...,...,...,...,...
277,wocket-in-my-pocket.txt,hope,"thats, the, kind, of, house, i, live, in, and,...",0,0,0
278,wocket-in-my-pocket.txt,we,"the, kind, of, house, i, live, in, and, i, hop...",0,0,0
279,wocket-in-my-pocket.txt,never,"kind, of, house, i, live, in, and, i, hope, we...",0,0,0
280,wocket-in-my-pocket.txt,leave,"of, house, i, live, in, and, i, hope, we, neve...",0,0,0
281,wocket-in-my-pocket.txt,it,"house, i, live, in, and, i, hope, we, never, l...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,yertle-the-turtle.txt,on,"the, faraway, island, of, salamasond, yertle, ...",0,0,0
1,yertle-the-turtle.txt,the,"on, faraway, island, of, salamasond, yertle, t...",1,0,0
2,yertle-the-turtle.txt,faraway,"on, the, island, of, salamasond, yertle, the, ...",0,0,0
3,yertle-the-turtle.txt,island,"on, the, faraway, of, salamasond, yertle, the,...",0,0,0
4,yertle-the-turtle.txt,of,"on, the, faraway, island, salamasond, yertle, ...",1,0,0
...,...,...,...,...,...,...
949,yertle-the-turtle.txt,maybe,"of, course, all, the, turtles, are, free, as, ...",0,0,0
950,yertle-the-turtle.txt,all,"course, all, the, turtles, are, free, as, turt...",1,0,0
951,yertle-the-turtle.txt,creatures,"all, the, turtles, are, free, as, turtles, and...",0,0,0
952,yertle-the-turtle.txt,should,"the, turtles, are, free, as, turtles, and, may...",0,0,0
953,yertle-the-turtle.txt,be,"turtles, are, free, as, turtles, and, maybe, a...",0,1,1

---
## Comparison Corpus Localized Dataframes

In [83]:
comp_dataframes = []

for x in range(0, len(comparison_files)):
    story_localized = make_localized_rhyme(comparison_files[x], comp_corpus[x], 10)
    story_dataframe = make_localized_dataframe(story_localized)
    comp_dataframes.append(story_dataframe)

for df in comp_dataframes:
    print() # printing an extra line to make it more visibly nice
    display(df)

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,edward-lear-akond-of-swat.txt,who,"or, why, or, which, or, what, is, the, akond, of",0,0,0
1,edward-lear-akond-of-swat.txt,or,"who, why, or, which, or, what, is, the, akond,...",2,0,0
2,edward-lear-akond-of-swat.txt,why,"who, or, or, which, or, what, is, the, akond, ...",0,0,0
3,edward-lear-akond-of-swat.txt,or,"who, or, why, which, or, what, is, the, akond,...",2,0,0
4,edward-lear-akond-of-swat.txt,which,"who, or, why, or, or, what, is, the, akond, of...",0,0,0
...,...,...,...,...,...,...
537,edward-lear-akond-of-swat.txt,is,"knows, i, wot, who, or, which, or, why, or, wh...",0,0,0
538,edward-lear-akond-of-swat.txt,the,"i, wot, who, or, which, or, why, or, what, is,...",0,0,0
539,edward-lear-akond-of-swat.txt,akond,"wot, who, or, which, or, why, or, what, is, th...",0,0,0
540,edward-lear-akond-of-swat.txt,of,"who, or, which, or, why, or, what, is, the, ak...",0,0,0
541,edward-lear-akond-of-swat.txt,swat,"or, which, or, why, or, what, is, the, akond, of",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,edward-lear-dong-with-luminous-nose.txt,when,"awful, darkness, and, silence, reign, over, th...",0,0,0
1,edward-lear-dong-with-luminous-nose.txt,awful,"when, darkness, and, silence, reign, over, the...",0,0,0
2,edward-lear-dong-with-luminous-nose.txt,darkness,"when, awful, and, silence, reign, over, the, g...",0,0,0
3,edward-lear-dong-with-luminous-nose.txt,and,"when, awful, darkness, silence, reign, over, t...",0,0,0
4,edward-lear-dong-with-luminous-nose.txt,silence,"when, awful, darkness, and, reign, over, the, ...",0,0,0
...,...,...,...,...,...,...
687,edward-lear-dong-with-luminous-nose.txt,dong,"over, the, plain, he, goes, he, goes, he, goes...",0,0,0
688,edward-lear-dong-with-luminous-nose.txt,with,"the, plain, he, goes, he, goes, he, goes, the,...",0,0,0
689,edward-lear-dong-with-luminous-nose.txt,a,"plain, he, goes, he, goes, he, goes, the, dong...",0,0,0
690,edward-lear-dong-with-luminous-nose.txt,luminous,"he, goes, he, goes, he, goes, the, dong, with,...",0,0,0
691,edward-lear-dong-with-luminous-nose.txt,nose,"goes, he, goes, he, goes, the, dong, with, a, ...",0,3,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,edward-lear-how-pleasant-to-know-mr-lear.txt,how,"pleasant, to, know, mr, lear, who, has, writte...",0,0,0
1,edward-lear-how-pleasant-to-know-mr-lear.txt,pleasant,"how, to, know, mr, lear, who, has, written, su...",0,0,0
2,edward-lear-how-pleasant-to-know-mr-lear.txt,to,"how, pleasant, know, mr, lear, who, has, writt...",0,1,1
3,edward-lear-how-pleasant-to-know-mr-lear.txt,know,"how, pleasant, to, mr, lear, who, has, written...",0,0,0
4,edward-lear-how-pleasant-to-know-mr-lear.txt,mr,"how, pleasant, to, know, lear, who, has, writt...",0,0,0
...,...,...,...,...,...,...
206,edward-lear-how-pleasant-to-know-mr-lear.txt,pleasant,"ginger, beer, ere, the, days, of, his, pilgrim...",0,0,0
207,edward-lear-how-pleasant-to-know-mr-lear.txt,to,"beer, ere, the, days, of, his, pilgrimage, van...",0,0,0
208,edward-lear-how-pleasant-to-know-mr-lear.txt,know,"ere, the, days, of, his, pilgrimage, vanish, h...",0,0,0
209,edward-lear-how-pleasant-to-know-mr-lear.txt,mr,"the, days, of, his, pilgrimage, vanish, how, p...",0,0,0
210,edward-lear-how-pleasant-to-know-mr-lear.txt,lear,"days, of, his, pilgrimage, vanish, how, pleasa...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,edward-lear-jumblies.txt,they,"went, to, sea, in, a, sieve, they, did, in, a",1,2,1
1,edward-lear-jumblies.txt,went,"they, to, sea, in, a, sieve, they, did, in, a,...",0,0,0
2,edward-lear-jumblies.txt,to,"they, went, sea, in, a, sieve, they, did, in, ...",0,0,0
3,edward-lear-jumblies.txt,sea,"they, went, to, in, a, sieve, they, did, in, a...",0,0,0
4,edward-lear-jumblies.txt,in,"they, went, to, sea, a, sieve, they, did, in, ...",1,0,0
...,...,...,...,...,...,...
628,edward-lear-jumblies.txt,to,"are, green, and, their, hands, are, blue, and,...",0,1,1
629,edward-lear-jumblies.txt,sea,"green, and, their, hands, are, blue, and, they...",0,0,0
630,edward-lear-jumblies.txt,in,"and, their, hands, are, blue, and, they, went,...",0,0,0
631,edward-lear-jumblies.txt,a,"their, hands, are, blue, and, they, went, to, ...",0,0,0
632,edward-lear-jumblies.txt,sieve,"hands, are, blue, and, they, went, to, sea, in, a",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,edward-lear-owl-and-pussy-cat.txt,i,"the, owl, and, the, pussycat, went, to, sea, i...",0,0,0
1,edward-lear-owl-and-pussy-cat.txt,the,"i, owl, and, the, pussycat, went, to, sea, in,...",1,0,0
2,edward-lear-owl-and-pussy-cat.txt,owl,"i, the, and, the, pussycat, went, to, sea, in,...",0,0,0
3,edward-lear-owl-and-pussy-cat.txt,and,"i, the, owl, the, pussycat, went, to, sea, in,...",0,0,0
4,edward-lear-owl-and-pussy-cat.txt,the,"i, the, owl, and, pussycat, went, to, sea, in,...",1,0,0
...,...,...,...,...,...,...
217,edward-lear-owl-and-pussy-cat.txt,the,"of, the, moon, the, moon, the, moon, they, dan...",4,0,0
218,edward-lear-owl-and-pussy-cat.txt,light,"the, moon, the, moon, the, moon, they, danced,...",0,0,0
219,edward-lear-owl-and-pussy-cat.txt,of,"moon, the, moon, the, moon, they, danced, by, ...",0,0,0
220,edward-lear-owl-and-pussy-cat.txt,the,"the, moon, the, moon, they, danced, by, the, l...",3,0,0
221,edward-lear-owl-and-pussy-cat.txt,moon,"moon, the, moon, they, danced, by, the, light,...",2,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,eric-carle-very-hungry-caterpillar.txt,in,"the, light, of, the, moon, a, little, egg, lay...",0,0,0
1,eric-carle-very-hungry-caterpillar.txt,the,"in, light, of, the, moon, a, little, egg, lay,...",1,0,0
2,eric-carle-very-hungry-caterpillar.txt,light,"in, the, of, the, moon, a, little, egg, lay, o...",0,0,0
3,eric-carle-very-hungry-caterpillar.txt,of,"in, the, light, the, moon, a, little, egg, lay...",0,0,0
4,eric-carle-very-hungry-caterpillar.txt,the,"in, the, light, of, moon, a, little, egg, lay,...",1,0,0
...,...,...,...,...,...,...
213,eric-carle-very-hungry-caterpillar.txt,he,"a, hole, in, the, cocoon, pushed, his, way, ou...",0,0,0
214,eric-carle-very-hungry-caterpillar.txt,became,"hole, in, the, cocoon, pushed, his, way, out, ...",0,0,0
215,eric-carle-very-hungry-caterpillar.txt,a,"in, the, cocoon, pushed, his, way, out, and, h...",0,0,0
216,eric-carle-very-hungry-caterpillar.txt,beautiful,"the, cocoon, pushed, his, way, out, and, he, b...",0,0,0
217,eric-carle-very-hungry-caterpillar.txt,butterfly,"cocoon, pushed, his, way, out, and, he, became...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,ogden-nash-the-tale-of-custard-the-dragon.txt,belinda,"lived, in, a, little, white, house, with, a, l...",0,0,0
1,ogden-nash-the-tale-of-custard-the-dragon.txt,lived,"belinda, in, a, little, white, house, with, a,...",0,0,0
2,ogden-nash-the-tale-of-custard-the-dragon.txt,in,"belinda, lived, a, little, white, house, with,...",0,0,0
3,ogden-nash-the-tale-of-custard-the-dragon.txt,a,"belinda, lived, in, little, white, house, with...",2,0,0
4,ogden-nash-the-tale-of-custard-the-dragon.txt,little,"belinda, lived, in, a, white, house, with, a, ...",2,0,0
...,...,...,...,...,...,...
460,ogden-nash-the-tale-of-custard-the-dragon.txt,for,"as, a, tiger, in, a, rage, but, custard, keeps...",0,0,0
461,ogden-nash-the-tale-of-custard-the-dragon.txt,a,"a, tiger, in, a, rage, but, custard, keeps, cr...",2,0,0
462,ogden-nash-the-tale-of-custard-the-dragon.txt,nice,"tiger, in, a, rage, but, custard, keeps, cryin...",0,0,0
463,ogden-nash-the-tale-of-custard-the-dragon.txt,safe,"in, a, rage, but, custard, keeps, crying, for,...",0,0,0
464,ogden-nash-the-tale-of-custard-the-dragon.txt,cage,"a, rage, but, custard, keeps, crying, for, a, ...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-attention-please.txt,attention,"please, attention, please, dont, dare, to, tal...",1,0,0
1,roald-dahl-attention-please.txt,please,"attention, attention, please, dont, dare, to, ...",1,1,1
2,roald-dahl-attention-please.txt,attention,"attention, please, please, dont, dare, to, tal...",1,0,0
3,roald-dahl-attention-please.txt,please,"attention, please, attention, dont, dare, to, ...",1,1,1
4,roald-dahl-attention-please.txt,dont,"attention, please, attention, please, dare, to...",2,0,0
...,...,...,...,...,...,...
829,roald-dahl-attention-please.txt,medicine,"across, your, heart, that, you, will, never, h...",1,0,0
830,roald-dahl-attention-please.txt,from,"your, heart, that, you, will, never, help, you...",0,0,0
831,roald-dahl-attention-please.txt,the,"heart, that, you, will, never, help, yourself,...",0,0,0
832,roald-dahl-attention-please.txt,medicine,"that, you, will, never, help, yourself, to, me...",1,0,0
833,roald-dahl-attention-please.txt,shelf,"you, will, never, help, yourself, to, medicine...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-cinderella.txt,i,"guess, you, think, you, know, this, story, you...",0,0,0
1,roald-dahl-cinderella.txt,guess,"i, you, think, you, know, this, story, you, do...",0,0,0
2,roald-dahl-cinderella.txt,you,"i, guess, think, you, know, this, story, you, ...",2,0,0
3,roald-dahl-cinderella.txt,think,"i, guess, you, you, know, this, story, you, do...",0,0,0
4,roald-dahl-cinderella.txt,you,"i, guess, you, think, know, this, story, you, ...",2,0,0
...,...,...,...,...,...,...
820,roald-dahl-cinderella.txt,they,"marmalade, their, house, was, filled, with, sm...",0,0,0
821,roald-dahl-cinderella.txt,were,"their, house, was, filled, with, smiles, and, ...",0,0,0
822,roald-dahl-cinderella.txt,happy,"house, was, filled, with, smiles, and, laughte...",0,0,0
823,roald-dahl-cinderella.txt,ever,"was, filled, with, smiles, and, laughter, and,...",0,0,0
824,roald-dahl-cinderella.txt,after,"filled, with, smiles, and, laughter, and, they...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-mike-teavee.txt,the,"most, important, thing, weve, learned, so, far...",0,0,0
1,roald-dahl-mike-teavee.txt,most,"the, important, thing, weve, learned, so, far,...",0,0,0
2,roald-dahl-mike-teavee.txt,important,"the, most, thing, weve, learned, so, far, as, ...",0,0,0
3,roald-dahl-mike-teavee.txt,thing,"the, most, important, weve, learned, so, far, ...",0,0,0
4,roald-dahl-mike-teavee.txt,weve,"the, most, important, thing, learned, so, far,...",0,0,0
...,...,...,...,...,...,...
574,roald-dahl-mike-teavee.txt,more,"screen, and, later, each, and, every, kid, wil...",0,1,1
575,roald-dahl-mike-teavee.txt,for,"and, later, each, and, every, kid, will, love,...",0,1,1
576,roald-dahl-mike-teavee.txt,what,"later, each, and, every, kid, will, love, you,...",0,0,0
577,roald-dahl-mike-teavee.txt,you,"each, and, every, kid, will, love, you, more, ...",1,0,0
578,roald-dahl-mike-teavee.txt,did,"and, every, kid, will, love, you, more, for, w...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-red-riding-hood.txt,as,"soon, as, wolf, began, to, feel, that, he, wou...",1,0,0
1,roald-dahl-red-riding-hood.txt,soon,"as, as, wolf, began, to, feel, that, he, would...",0,0,0
2,roald-dahl-red-riding-hood.txt,as,"as, soon, wolf, began, to, feel, that, he, wou...",1,0,0
3,roald-dahl-red-riding-hood.txt,wolf,"as, soon, as, began, to, feel, that, he, would...",0,0,0
4,roald-dahl-red-riding-hood.txt,began,"as, soon, as, wolf, to, feel, that, he, would,...",0,0,0
...,...,...,...,...,...,...
358,roald-dahl-red-riding-hood.txt,my,"upon, her, head, she, said, hello, and, do, pl...",0,0,0
359,roald-dahl-red-riding-hood.txt,lovely,"her, head, she, said, hello, and, do, please, ...",0,0,0
360,roald-dahl-red-riding-hood.txt,furry,"head, she, said, hello, and, do, please, note,...",0,0,0
361,roald-dahl-red-riding-hood.txt,wolfskin,"she, said, hello, and, do, please, note, my, l...",0,0,0
362,roald-dahl-red-riding-hood.txt,coat,"said, hello, and, do, please, note, my, lovely...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-television.txt,the,"most, important, thing, weve, learned, so, far...",0,0,0
1,roald-dahl-television.txt,most,"the, important, thing, weve, learned, so, far,...",0,0,0
2,roald-dahl-television.txt,important,"the, most, thing, weve, learned, so, far, as, ...",0,0,0
3,roald-dahl-television.txt,thing,"the, most, important, weve, learned, so, far, ...",0,0,0
4,roald-dahl-television.txt,weve,"the, most, important, thing, learned, so, far,...",0,0,0
...,...,...,...,...,...,...
574,roald-dahl-television.txt,more,"screen, and, later, each, and, every, kid, wil...",0,1,1
575,roald-dahl-television.txt,for,"and, later, each, and, every, kid, will, love,...",0,1,1
576,roald-dahl-television.txt,what,"later, each, and, every, kid, will, love, you,...",0,0,0
577,roald-dahl-television.txt,you,"each, and, every, kid, will, love, you, more, ...",1,0,0
578,roald-dahl-television.txt,did,"and, every, kid, will, love, you, more, for, w...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-the-pig.txt,in,"england, once, there, lived, a, big, and, wond...",0,0,0
1,roald-dahl-the-pig.txt,england,"in, once, there, lived, a, big, and, wonderful...",0,0,0
2,roald-dahl-the-pig.txt,once,"in, england, there, lived, a, big, and, wonder...",0,0,0
3,roald-dahl-the-pig.txt,there,"in, england, once, lived, a, big, and, wonderf...",0,0,0
4,roald-dahl-the-pig.txt,lived,"in, england, once, there, a, big, and, wonderf...",0,0,0
...,...,...,...,...,...,...
337,roald-dahl-the-pig.txt,id,"lunch, and, so, because, i, feared, the, worst...",0,0,0
338,roald-dahl-the-pig.txt,better,"and, so, because, i, feared, the, worst, i, th...",0,0,0
339,roald-dahl-the-pig.txt,eat,"so, because, i, feared, the, worst, i, thought...",0,0,0
340,roald-dahl-the-pig.txt,him,"because, i, feared, the, worst, i, thought, id...",0,0,0
341,roald-dahl-the-pig.txt,first,"i, feared, the, worst, i, thought, id, better,...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,roald-dahl-three-pigs.txt,the,"animal, i, really, dig, above, all, others, is...",1,0,0
1,roald-dahl-three-pigs.txt,animal,"the, i, really, dig, above, all, others, is, t...",0,0,0
2,roald-dahl-three-pigs.txt,i,"the, animal, really, dig, above, all, others, ...",0,0,0
3,roald-dahl-three-pigs.txt,really,"the, animal, i, dig, above, all, others, is, t...",0,0,0
4,roald-dahl-three-pigs.txt,dig,"the, animal, i, really, above, all, others, is...",0,1,1
...,...,...,...,...,...,...
600,roald-dahl-three-pigs.txt,has,"coats, but, when, she, goes, from, place, to, ...",0,0,0
601,roald-dahl-three-pigs.txt,a,"but, when, she, goes, from, place, to, place, ...",0,0,0
602,roald-dahl-three-pigs.txt,pigskin,"when, she, goes, from, place, to, place, she, ...",0,0,0
603,roald-dahl-three-pigs.txt,traveling,"she, goes, from, place, to, place, she, has, a...",0,0,0
604,roald-dahl-three-pigs.txt,case,"goes, from, place, to, place, she, has, a, pig...",0,2,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,shel-silverstein-100000-pennies.txt,i,"broke, into, the, bank, on, sunday, you, shoul...",0,0,0
1,shel-silverstein-100000-pennies.txt,broke,"i, into, the, bank, on, sunday, you, should, s...",0,0,0
2,shel-silverstein-100000-pennies.txt,into,"i, broke, the, bank, on, sunday, you, should, ...",0,0,0
3,shel-silverstein-100000-pennies.txt,the,"i, broke, into, bank, on, sunday, you, should,...",1,0,0
4,shel-silverstein-100000-pennies.txt,bank,"i, broke, into, the, on, sunday, you, should, ...",0,0,0
...,...,...,...,...,...,...
204,shel-silverstein-100000-pennies.txt,with,"a, dime, and, i, dont, believe, theres, many, ...",0,0,0
205,shel-silverstein-100000-pennies.txt,a,"dime, and, i, dont, believe, theres, many, ric...",0,0,0
206,shel-silverstein-100000-pennies.txt,problem,"and, i, dont, believe, theres, many, rich, men...",0,0,0
207,shel-silverstein-100000-pennies.txt,like,"i, dont, believe, theres, many, rich, men, wit...",0,0,0
208,shel-silverstein-100000-pennies.txt,mine,"dont, believe, theres, many, rich, men, with, ...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,shel-silverstein-a-boy-named-sue.txt,well,"my, daddy, left, home, when, i, was, three, an...",0,0,0
1,shel-silverstein-a-boy-named-sue.txt,my,"well, daddy, left, home, when, i, was, three, ...",0,1,1
2,shel-silverstein-a-boy-named-sue.txt,daddy,"well, my, left, home, when, i, was, three, and...",0,0,0
3,shel-silverstein-a-boy-named-sue.txt,left,"well, my, daddy, home, when, i, was, three, an...",0,0,0
4,shel-silverstein-a-boy-named-sue.txt,home,"well, my, daddy, left, when, i, was, three, an...",0,0,0
...,...,...,...,...,...,...
600,shel-silverstein-a-boy-named-sue.txt,or,"a, son, i, think, i, am, gonna, name, him, bil...",0,0,0
601,shel-silverstein-a-boy-named-sue.txt,george,"son, i, think, i, am, gonna, name, him, bill, ...",0,0,0
602,shel-silverstein-a-boy-named-sue.txt,anything,"i, think, i, am, gonna, name, him, bill, or, g...",0,0,0
603,shel-silverstein-a-boy-named-sue.txt,but,"think, i, am, gonna, name, him, bill, or, geor...",0,0,0
604,shel-silverstein-a-boy-named-sue.txt,sue,"i, am, gonna, name, him, bill, or, george, any...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,shel-silverstein-sarah-synthia-sylvia-stout.txt,sarah,"cynthia, sylvia, stout, would, not, take, the,...",0,0,0
1,shel-silverstein-sarah-synthia-sylvia-stout.txt,cynthia,"sarah, sylvia, stout, would, not, take, the, g...",0,0,0
2,shel-silverstein-sarah-synthia-sylvia-stout.txt,sylvia,"sarah, cynthia, stout, would, not, take, the, ...",0,0,0
3,shel-silverstein-sarah-synthia-sylvia-stout.txt,stout,"sarah, cynthia, sylvia, would, not, take, the,...",0,1,1
4,shel-silverstein-sarah-synthia-sylvia-stout.txt,would,"sarah, cynthia, sylvia, stout, not, take, the,...",0,0,0
...,...,...,...,...,...,...
278,shel-silverstein-sarah-synthia-sylvia-stout.txt,always,"is, much, too, late, but, children, remember, ...",0,0,0
279,shel-silverstein-sarah-synthia-sylvia-stout.txt,take,"much, too, late, but, children, remember, sara...",0,0,0
280,shel-silverstein-sarah-synthia-sylvia-stout.txt,the,"too, late, but, children, remember, sarah, sto...",0,0,0
281,shel-silverstein-sarah-synthia-sylvia-stout.txt,garbage,"late, but, children, remember, sarah, stout, a...",0,0,0
282,shel-silverstein-sarah-synthia-sylvia-stout.txt,out,"but, children, remember, sarah, stout, and, al...",0,1,1

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,shel-silverstein-sick.txt,i,"cannot, go, to, school, today, said, little, p...",0,0,0
1,shel-silverstein-sick.txt,cannot,"i, go, to, school, today, said, little, peggy,...",0,0,0
2,shel-silverstein-sick.txt,go,"i, cannot, to, school, today, said, little, pe...",0,0,0
3,shel-silverstein-sick.txt,to,"i, cannot, go, school, today, said, little, pe...",0,0,0
4,shel-silverstein-sick.txt,school,"i, cannot, go, to, today, said, little, peggy,...",0,0,0
...,...,...,...,...,...,...
208,shel-silverstein-sick.txt,im,"whats, that, you, say, you, say, today, is, sa...",0,0,0
209,shel-silverstein-sick.txt,going,"that, you, say, you, say, today, is, saturday,...",0,0,0
210,shel-silverstein-sick.txt,out,"you, say, you, say, today, is, saturday, gbye,...",0,0,0
211,shel-silverstein-sick.txt,to,"say, you, say, today, is, saturday, gbye, im, ...",0,1,1
212,shel-silverstein-sick.txt,play,"you, say, today, is, saturday, gbye, im, going...",0,2,2

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,shel-silverstein-the-giving-tree.txt,once,"there, was, a, tree, and, she, loved, a, littl...",0,0,0
1,shel-silverstein-the-giving-tree.txt,there,"once, was, a, tree, and, she, loved, a, little...",0,0,0
2,shel-silverstein-the-giving-tree.txt,was,"once, there, a, tree, and, she, loved, a, litt...",0,0,0
3,shel-silverstein-the-giving-tree.txt,a,"once, there, was, tree, and, she, loved, a, li...",1,0,0
4,shel-silverstein-the-giving-tree.txt,tree,"once, there, was, a, and, she, loved, a, littl...",0,1,1
...,...,...,...,...,...,...
608,shel-silverstein-the-giving-tree.txt,and,"sit, down, sit, down, and, rest, and, the, boy...",2,0,0
609,shel-silverstein-the-giving-tree.txt,the,"down, sit, down, and, rest, and, the, boy, did...",1,0,0
610,shel-silverstein-the-giving-tree.txt,tree,"sit, down, and, rest, and, the, boy, did, and,...",0,0,0
611,shel-silverstein-the-giving-tree.txt,was,"down, and, rest, and, the, boy, did, and, the,...",0,0,0
612,shel-silverstein-the-giving-tree.txt,happy,"and, rest, and, the, boy, did, and, the, tree,...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,the-rainbow-fish.txt,a,"long, way, out, in, the, deep, blue, sea, ther...",0,0,0
1,the-rainbow-fish.txt,long,"a, way, out, in, the, deep, blue, sea, there, ...",0,0,0
2,the-rainbow-fish.txt,way,"a, long, out, in, the, deep, blue, sea, there,...",0,2,1
3,the-rainbow-fish.txt,out,"a, long, way, in, the, deep, blue, sea, there,...",0,0,0
4,the-rainbow-fish.txt,in,"a, long, way, out, the, deep, blue, sea, there...",0,0,0
...,...,...,...,...,...,...
615,the-rainbow-fish.txt,off,"the, rainbow, fish, and, happy, as, a, splash,...",0,0,0
616,the-rainbow-fish.txt,to,"rainbow, fish, and, happy, as, a, splash, he, ...",0,0,0
617,the-rainbow-fish.txt,join,"fish, and, happy, as, a, splash, he, swam, off...",0,0,0
618,the-rainbow-fish.txt,his,"and, happy, as, a, splash, he, swam, off, to, ...",0,0,0
619,the-rainbow-fish.txt,friends,"happy, as, a, splash, he, swam, off, to, join,...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,winnie-the-pooh-and-the-honey-tree.txt,winnie,"the, pooh, and, the, honey, tree, once, upon, ...",0,0,0
1,winnie-the-pooh-and-the-honey-tree.txt,the,"winnie, pooh, and, the, honey, tree, once, upo...",1,0,0
2,winnie-the-pooh-and-the-honey-tree.txt,pooh,"winnie, the, and, the, honey, tree, once, upon...",0,0,0
3,winnie-the-pooh-and-the-honey-tree.txt,and,"winnie, the, pooh, the, honey, tree, once, upo...",0,0,0
4,winnie-the-pooh-and-the-honey-tree.txt,the,"winnie, the, pooh, and, honey, tree, once, upo...",1,0,0
...,...,...,...,...,...,...
1648,winnie-the-pooh-and-the-honey-tree.txt,he,"and, i, thinkâ€”but, i, am, not, sureâ€”that, that...",0,0,0
1649,winnie-the-pooh-and-the-honey-tree.txt,was,"i, thinkâ€”but, i, am, not, sureâ€”that, that, is,...",0,0,0
1650,winnie-the-pooh-and-the-honey-tree.txt,always,"thinkâ€”but, i, am, not, sureâ€”that, that, is, wh...",0,0,0
1651,winnie-the-pooh-and-the-honey-tree.txt,called,"i, am, not, sureâ€”that, that, is, why, he, was,...",0,0,0
1652,winnie-the-pooh-and-the-honey-tree.txt,pooh,"am, not, sureâ€”that, that, is, why, he, was, al...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,winnie-the-pooh-eyeore-house.txt,a,"house, is, built, at, pooh, corner, for, eeyor...",0,0,0
1,winnie-the-pooh-eyeore-house.txt,house,"a, is, built, at, pooh, corner, for, eeyore, o...",0,0,0
2,winnie-the-pooh-eyeore-house.txt,is,"a, house, built, at, pooh, corner, for, eeyore...",0,0,0
3,winnie-the-pooh-eyeore-house.txt,built,"a, house, is, at, pooh, corner, for, eeyore, o...",0,0,0
4,winnie-the-pooh-eyeore-house.txt,at,"a, house, is, built, pooh, corner, for, eeyore...",0,0,0
...,...,...,...,...,...,...
2325,winnie-the-pooh-eyeore-house.txt,one,"seems, easy, said, piglet, to, himself, but, i...",0,0,0
2326,winnie-the-pooh-eyeore-house.txt,who,"easy, said, piglet, to, himself, but, it, isnt...",0,2,2
2327,winnie-the-pooh-eyeore-house.txt,could,"said, piglet, to, himself, but, it, isnt, ever...",0,0,0
2328,winnie-the-pooh-eyeore-house.txt,do,"piglet, to, himself, but, it, isnt, every, one...",0,2,2
2329,winnie-the-pooh-eyeore-house.txt,it,"to, himself, but, it, isnt, every, one, who, c...",1,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,winnie-the-pooh-eyeore-loses-a-tail.txt,eeyore,"loses, a, tail, and, pooh, finds, one, the, ol...",0,0,0
1,winnie-the-pooh-eyeore-loses-a-tail.txt,loses,"eeyore, a, tail, and, pooh, finds, one, the, o...",0,0,0
2,winnie-the-pooh-eyeore-loses-a-tail.txt,a,"eeyore, loses, tail, and, pooh, finds, one, th...",0,0,0
3,winnie-the-pooh-eyeore-loses-a-tail.txt,tail,"eeyore, loses, a, and, pooh, finds, one, the, ...",0,0,0
4,winnie-the-pooh-eyeore-loses-a-tail.txt,and,"eeyore, loses, a, tail, pooh, finds, one, the,...",0,0,0
...,...,...,...,...,...,...
1422,winnie-the-pooh-eyeore-loses-a-tail.txt,really,"a, quarter, to, two, only, it, was, quarter, t...",0,0,0
1423,winnie-the-pooh-eyeore-loses-a-tail.txt,i,"quarter, to, two, only, it, was, quarter, to, ...",0,0,0
1424,winnie-the-pooh-eyeore-loses-a-tail.txt,found,"to, two, only, it, was, quarter, to, eleven, r...",0,0,0
1425,winnie-the-pooh-eyeore-loses-a-tail.txt,the,"two, only, it, was, quarter, to, eleven, reall...",0,0,0
1426,winnie-the-pooh-eyeore-loses-a-tail.txt,tail,"only, it, was, quarter, to, eleven, really, i,...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,winnie-the-pooh-piglet-water.txt,piglet,"is, entirely, surrounded, by, water, it, raine...",0,0,0
1,winnie-the-pooh-piglet-water.txt,is,"piglet, entirely, surrounded, by, water, it, r...",0,0,0
2,winnie-the-pooh-piglet-water.txt,entirely,"piglet, is, surrounded, by, water, it, rained,...",0,0,0
3,winnie-the-pooh-piglet-water.txt,surrounded,"piglet, is, entirely, by, water, it, rained, a...",0,0,0
4,winnie-the-pooh-piglet-water.txt,by,"piglet, is, entirely, surrounded, water, it, r...",0,0,0
...,...,...,...,...,...,...
2633,winnie-the-pooh-piglet-water.txt,think,"and, i, am, very, tired, after, that, last, se...",0,0,0
2634,winnie-the-pooh-piglet-water.txt,i,"i, am, very, tired, after, that, last, sentenc...",2,0,0
2635,winnie-the-pooh-piglet-water.txt,shall,"am, very, tired, after, that, last, sentence, ...",0,0,0
2636,winnie-the-pooh-piglet-water.txt,stop,"very, tired, after, that, last, sentence, i, t...",0,0,0
2637,winnie-the-pooh-piglet-water.txt,there,"tired, after, that, last, sentence, i, think, ...",0,0,0

,Title,Token,Chunk,Word Frequency,Rhyme Frequency,Unique Rhyme Frequency
0,winnie-the-pooh-stuck-at-rabbits-house.txt,winnie,"the, pooh, stuck, at, rabbits, house, edward, ...",0,0,0
1,winnie-the-pooh-stuck-at-rabbits-house.txt,the,"winnie, pooh, stuck, at, rabbits, house, edwar...",0,0,0
2,winnie-the-pooh-stuck-at-rabbits-house.txt,pooh,"winnie, the, stuck, at, rabbits, house, edward...",0,1,1
3,winnie-the-pooh-stuck-at-rabbits-house.txt,stuck,"winnie, the, pooh, at, rabbits, house, edward,...",0,0,0
4,winnie-the-pooh-stuck-at-rabbits-house.txt,at,"winnie, the, pooh, stuck, rabbits, house, edwa...",0,0,0
...,...,...,...,...,...,...
1450,winnie-the-pooh-stuck-at-rabbits-house.txt,to,"himself, but, christopher, robin, looked, afte...",0,0,0
1451,winnie-the-pooh-stuck-at-rabbits-house.txt,himself,"but, christopher, robin, looked, after, him, l...",0,0,0
1452,winnie-the-pooh-stuck-at-rabbits-house.txt,silly,"christopher, robin, looked, after, him, loving...",0,0,0
1453,winnie-the-pooh-stuck-at-rabbits-house.txt,old,"robin, looked, after, him, lovingly, and, said...",0,0,0
1454,winnie-the-pooh-stuck-at-rabbits-house.txt,bear,"looked, after, him, lovingly, and, said, to, h...",0,0,0

### Average Word and Rhyme Frequency Scores per Story

Average Word Frequency Score by Story in Seuss Corpus

In [87]:
avg_word_score = []
avg_rhyme_score = []
avg_unique_rhyme_score = []
title_list = []
seuss_freq_scores = {}


for x in range(0, len(seuss_files)):
    df = seuss_dataframes[x]
    
    word_freq = round(df['Word Frequency'].sum() / len(df), 1)
    avg_word_score.append(word_freq)
    
    rhyme_freq = round(df['Rhyme Frequency'].sum() / len(df), 1)
    avg_rhyme_score.append(rhyme_freq)

    unique_rhyme_freq = round(df['Unique Rhyme Frequency'].sum() / len(df), 1)
    avg_unique_rhyme_score.append(unique_rhyme_freq)
    
    title_list.append(seuss_files[x])

seuss_freq_scores = {
                     'Title': title_list,
                     'Avg Word Frequency Score': avg_word_score,
                     'Avg Rhyme Frequency Score': avg_rhyme_score,
                     'Avg Unique Rhyme Frequency Score': avg_unique_rhyme_score
}

df1 = pd.DataFrame(seuss_freq_scores)
df1

,Title,Avg Word Frequency Score,Avg Rhyme Frequency Score,Avg Unique Rhyme Frequency Score
0,a-b-c.txt,0.3,0.4,0.3
1,cat-in-the-hat-comes-back.txt,0.4,0.3,0.3
2,fox-in-socks.txt,0.9,1.2,0.8
3,green-eggs-and-ham.txt,1.2,0.3,0.2
4,happy-birthday-to-you.txt,0.5,0.3,0.3
5,hop-on-pop.txt,1.4,2.8,1.3
6,horton-hears-a-who.txt,0.3,0.2,0.2
7,how-the-grinch-stole-christmas.txt,0.5,0.2,0.2
8,i-can-read-with-my-eyes-shut.txt,0.6,0.5,0.4
9,if-i-ran-the-zoo.txt,0.4,0.3,0.3
10,in-a-people-house.txt,0.4,0.3,0.2
11,marvin-k-mooney-will-you-please-go-now.txt,0.9,0.3,0.3
12,mr-brown-can-moo-can-you.txt,1.2,0.6,0.4
13,oh-the-places-youll-go.txt,0.5,0.3,0.3
14,one-fish-two-fish-red-fish-blue-fish.txt,0.7,0.6,0.5
15,ten-apples-up-on-top.txt,0.7,0.6,0.4
16,the-butter-battle-book.txt,0.2,0.3,0.2
17,the-cat-in-a-hat.txt,0.5,0.4,0.3
18,the-foot-book.txt,2.1,0.5,0.4
19,the-lorax.txt,0.4,0.2,0.2
20,the-sneetches.txt,0.3,0.2,0.2
21,thiswick-the-big-hearted-moose.txt,0.3,0.2,0.2
22,wacky-wednesday.txt,0.4,0.2,0.2
23,wocket-in-my-pocket.txt,0.6,0.1,0.1
24,yertle-the-turtle.txt,0.5,0.2,0.2

In [85]:
avg_word_score = []
avg_rhyme_score = []
avg_unique_rhyme_score = []
title_list = []
comp_freq_scores = {}


for x in range(0, len(comparison_files)):
    df = comp_dataframes[x]
    
    word_freq = round(df['Word Frequency'].sum() / len(df), 1)
    avg_word_score.append(word_freq)
    
    rhyme_freq = round(df['Rhyme Frequency'].sum() / len(df), 1)
    avg_rhyme_score.append(rhyme_freq)

    unique_rhyme_freq = round(df['Unique Rhyme Frequency'].sum() / len(df), 1)
    avg_unique_rhyme_score.append(unique_rhyme_freq)
    
    title_list.append(comparison_files[x])

comp_freq_scores = {
                    'Title': title_list,
                    'Avg Word Frequency Score': avg_word_score,
                    'Avg Rhyme Frequency Score': avg_rhyme_score,
                    'Avg Unique Rhyme Frequency Score': avg_unique_rhyme_score
}

df2 = pd.DataFrame(comp_freq_scores)
df2

,Title,Avg Word Frequency Score,Avg Rhyme Frequency Score,Avg Unique Rhyme Frequency Score
0,edward-lear-akond-of-swat.txt,0.4,0.2,0.2
1,edward-lear-dong-with-luminous-nose.txt,0.4,0.2,0.2
2,edward-lear-how-pleasant-to-know-mr-lear.txt,0.3,0.2,0.1
3,edward-lear-jumblies.txt,0.5,0.3,0.2
4,edward-lear-owl-and-pussy-cat.txt,0.6,0.3,0.2
5,eric-carle-very-hungry-caterpillar.txt,0.5,0.1,0.1
6,ogden-nash-the-tale-of-custard-the-dragon.txt,0.5,0.1,0.1
7,roald-dahl-attention-please.txt,0.2,0.2,0.2
8,roald-dahl-cinderella.txt,0.3,0.2,0.2
9,roald-dahl-mike-teavee.txt,0.4,0.3,0.3
10,roald-dahl-red-riding-hood.txt,0.2,0.2,0.2
11,roald-dahl-television.txt,0.4,0.3,0.3
12,roald-dahl-the-pig.txt,0.2,0.2,0.2
13,roald-dahl-three-pigs.txt,0.2,0.3,0.2
14,shel-silverstein-100000-pennies.txt,0.2,0.1,0.1
15,shel-silverstein-a-boy-named-sue.txt,0.5,0.3,0.3
16,shel-silverstein-sarah-synthia-sylvia-stout.txt,0.3,0.2,0.2
17,shel-silverstein-sick.txt,0.5,0.5,0.3
18,shel-silverstein-the-giving-tree.txt,0.5,0.2,0.1
19,the-rainbow-fish.txt,0.2,0.1,0.1
20,winnie-the-pooh-and-the-honey-tree.txt,0.3,0.2,0.2
21,winnie-the-pooh-eyeore-house.txt,0.3,0.1,0.1
22,winnie-the-pooh-eyeore-loses-a-tail.txt,0.3,0.1,0.1
23,winnie-the-pooh-piglet-water.txt,0.3,0.1,0.1
24,winnie-the-pooh-stuck-at-rabbits-house.txt,0.3,0.1,0.1

In [88]:
# to display both dataframes in one output, use this code:

# from IPython.display import display, HTML
# display(HTML(df1.to_html() + df2.to_html()))